In [1]:
from load_dataset import dataset

In [2]:
dataset

,n_patients,n_clusters,latlong,clusters,region,postcodes,created,mode
0,6,1,"[[-0.0011351833333321792, -0.03472788333333332...","[[2, 3, 5, 4, 1, 0]]",UK,{},2021-01-23,driving
1,24,3,"[[0.024502254166669957, -0.04485072916666666],...","[[3, 18], [0, 4, 8, 6, 9, 20, 13, 10, 12, 14, ...",UK,{},2021-01-23,driving
2,11,1,"[[-0.00422240000000329, -0.010207700000000014]...","[[2, 6, 9, 0, 10, 4, 1, 5, 8, 7, 3]]",UK,{},2021-01-23,driving
3,20,2,"[[-0.002061715000010622, 0.00596078000000011],...","[[12, 11, 13, 7, 5, 6, 8, 9, 10, 17], [4, 2, 3...",UK,{},2021-01-23,driving
4,32,3,"[[0.009377109375002135, 0.0008326499999999903]...","[[0, 1, 3, 4, 9, 8, 5, 2, 7, 19, 23], [22, 26,...",UK,{},2021-01-23,driving
...,...,...,...,...,...,...,...,...
8654,4,1,"[[-0.014870643615722656, 0.01502007246017456],...","[[3, 2, 1, 0]]",UK,"{'L20': 2, 'L23': 1, 'L21': 1}",2021-06-16,driving
8655,8,1,"[[-0.05714273452758789, 0.025144636631011963],...","[[3, 1, 4, 2, 6, 7, 0, 5]]",UK,"{'CV7': 1, 'B78': 3, 'CV9': 2, 'CV12': 1, 'CV5...",2021-06-16,driving
8656,17,1,"[[0.027773688821234543, 0.09624101835138665], ...","[[5, 15, 11, 7, 12, 3, 4, 8, 9, 10, 16, 1, 6, ...",UK,"{'CV11': 3, 'CV9': 7, 'CV7': 1, 'CV10': 1, 'CV...",2021-06-16,driving
8657,17,2,"[[0.027773688821234543, 0.09624101835138665], ...","[[0, 6, 3, 11, 7, 12, 15, 5], [4, 8, 9, 10, 16...",UK,"{'CV11': 3, 'CV9': 7, 'CV7': 1, 'CV10': 1, 'CV...",2021-06-16,driving
8658,24,3,"[[0.02116568883260328, -0.0421307235956192], [...","[[19, 17, 1, 23, 16, 15, 22, 21, 2, 5, 7], [20...",UK,"{'OX2': 7, 'OX4': 7, 'OX1': 7, 'OX3': 2, 'OX33...",2021-06-16,driving